<mc-loading *ngIf="isLoading$ | async"></mc-loading>
<mc-error-message
  *ngIf="error$ | async as error"
  [errorMessage]="error"
></mc-error-message>
<ng-container *ngIf='(article$ | async) as article'>
  <div class='article-page'>
    <div class='banner'>
      <div class='container'>
        <h1>{{ article.title }}</h1>
        <div class='article-meta'>
          <a [routerLink]="['/profile', article.author.username]">
            <img [src]="article.author.image" alt="author-image" />
          </a>
          <div class='info'>
            <a [routerLink]="['/profile', article.author.username]">
              {{ article.author.username }}
            </a>
            <span class='date'>
              {{ article.createAt }}
            </span>
          </div>
          <span *ngIf="isAuthor$ | async">
            <a [routerLink]="['/articles', article.slug, 'edit']" class='btn btn-outline-secondary btn-sm'>
              <i class='ion-edit'></i>
              Edit Article
            </a>
            <button class='btn btn-outline-danger btn-sm ml-2' (click)='deleteArticle()'>
              Delete Article
            </button>
          </span>
        </div>
      </div>
    </div>
    <div class='container page'>
      <div class='row article-content'>
        <div class='col-xs-12'>
          <div>
            <p>{{ article.body }}</p>
          </div>
          <mc-tag-list *ngIf="article.tagList" [tags]="article.tagList"></mc-tag-list>
        </div>
      </div>

    </div>
  </div>
</ng-container>
